* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 padding: 20Px;
  height: 100vh;
  background-color: #f3f5fc;
 
}
img{
  display:none;
}
.titulo{
  text-align: center;
  color: rgb(146, 73, 73);
  font-size: 30px;
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 80vh;
}

.container-left, .container-right {
width: 45%;
height: 80vh;
display: flex;
justify-content: space-between;
align-items: center;


}
.container-left{
  flex-direction: column;
}
.container-right {
  background-color: white;
  -webkit-box-shadow: 21px 39px 27px -8px rgba(227,229,236,1);
  -moz-box-shadow: 21px 39px 27px -8px rgba(227,229,236,1);
  box-shadow: 21px 39px 27px -8px rgba(227,229,236,1);
  flex-direction: column-reverse;
  border-radius: 20px;
  width: 30vw;
}

button {
  padding: 10px;
  font-size: 1.2rem;
  color: white;
  width: 180px;
  background-color: white;
  border: 2px solid #0a3871;
  border-radius: 20px;
  cursor: pointer;
  margin: 35px 15px;
  background-color: cyan;

}
.texto-salida, .container-text {
  
  font-size: 2rem;
  margin: 20px;
  padding-top: 30px;
  border: none;
 
}
input {
  background-color: #f3f5fc;
  border: none;
  font-size: 1.5rem;
  padding:0.8rem;
  width: 80%;
  height: 100px;
}
img {
  width: 95%;
  
}
.encriptar{
  background-color: #0a3871;
}

.desencriptar{
  background-color: #d8dfe8;
  color:black;  
}
 
.copiar{
  background-color: white;
  color:black;
  display:none;
}
